@model BlogClassLibrary.Post

@{
    
    ViewBag.HeaderMainText = Model.Blog.Name;
    ViewBag.HeaderMainDescription = Model.Blog.Description;
    ViewBag.HeaderImage = Model.Blog.BackgroundImage;
    ViewBag.Title = Model.Blog.Name + " | " + Model.Header ;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.3";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<h2>@Model.Header</h2>
<p>@Model.Content</p>
<p>Comments:</p>
@foreach (var comment in Model.Comments)
{
    <p>@comment.Content</p>
}
<div class="fb-like" data-href="http://mountainpower.se/Blog/Post?PostId=@Model.Id" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
</div>


