
@{
    ViewBag.Title = "SubmitPost";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h2>SubmitPost</h2>

@using (Html.BeginForm())
{
    <p>
        Enter Headline<br />
        @Html.TextArea("Header")
    </p>
    <p>
        Enter content<br />
        @Html.TextArea("Content")
    </p>

    <p>
        Enter Hashtags<br />
        @Html.TextArea("Hashtags")
    </p>
   


    <input type="submit" value="Submit New Post" />
}