@model BlogClassLibrary.Blog
@{
    ViewBag.Title = "Index";
}

<h2>This is a Blog with many posts</h2>

@foreach (var item in Model.Posts)
{
    <tr>
        <td>
            Blog Header:@Html.DisplayFor(modelItem => item.Header)
        </td>
        <td>
          Blog Date:  @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
           Blog Content:  @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
      
        </td>
    </tr>

}