@model IEnumerable<BlogClassLibrary.Hashtag>




@foreach (var item in Model)
{

    <p class="HashtagParagraph">@Html.ActionLink(item.Tag + "  ", "GetPostsWithHashtags", "Blog", new { tag = item.Tag }, null)</p>

}


