@model  List<BlogClassLibrary.Post>
           
<div class="col-md-12 slideshowContainer">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                
                <img class="carouselImage" src="http://www.cisny.com/wp-content/uploads/2011/08/boat-918x349.jpg" alt="...">
                @*http://bishnoivillage.com/wp-content/uploads/2014/09/banner4.jpg
     http://bishnoivillage.com/wp-content/uploads/2014/09/banner5.jpg
     http://eye-inspire.com/wp-content/uploads/2013/05/slider3.jpg
    http://christianinsights.com.au/wp-content/uploads/2013/04/slide3.jpg*@
                <div class="carousel-caption">

                    <h3 class="CarouselH3">Welcome to the RAJ Blog Portal. Your new favourite home on the web!</h3>
                </div>
            </div>


            
                @foreach (var post in Model)
                {
                    <div class="item">
                        <img class="carouselImage" src="@Html.DisplayFor(modelItem => post.Blog.BackgroundImage)" alt="...">
                        <div class="carousel-caption">
                            <h3 class="CarouselH3">@Html.DisplayFor(modelItem => post.Header)</h3>
                            @Html.ActionLink(post.Header, "Post", "Blog", new { PostId = post.Id}, null)

                            @*@Html.ActionLink(item.Name, "Index", "Blog", new { BlogId = item.Id }, null)*@
                        </div>
                    </div>
                }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div> <!-- Carousel -->
</div>