
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<div class="RegisterDiv">
  <p class="ParagraphDescription">Att blogga hos Raj är gratis!</p>
    <label class="LabelDescriptionInput">First Name: </label>
    <input class="TextboxDescription" id="TextboxInputFirstName" type="text"/>

    <label class="LabelDescriptionInput">Last Name: </label>
    <input class="TextboxDescription" id="TextboxInputLastName" type="text"/>

    <label class="LabelDescriptionInput">Country: </label>
    <input class="TextboxDescription" id="TextboxInputCountry" type="text"/>

    <label class="LabelDescriptionInput">Description: </label>
    <input class="TextboxDescription" id="TextboxInputDescription" type="text"/>

    <label class="LabelDescriptionInput">Email: </label>
    <input class="TextboxDescription" id="TextboxInputEmail" type="text"/>

    <label class="LabelDescriptionInput">Username: </label>
    <input class="TextboxDescription" id="TextboxInputUsername" type="text"/>

    <label class="LabelDescriptionInput">Password: </label>
    <input class="TextboxDescription" id="TextboxInputPassword" type="password"/>

    <label class="LabelDescriptionInput">Confirm: </label>
    <input class="TextboxDescription" id="TextboxInputConfirm" type="password"/>

    <input class="ButtonRegisterUser" value="Registrera" type="submit"/>
</div>

