@using WebGrease.Css.Extensions
@model BlogClassLibrary.Owner

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Blog", "CreateBlog", "Home",new{ownerId = Model.Id},null)
</p>






