@model BlogClassLibrary.Post
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h2>Delete</h2>
@(Html.BeginForm()){

Delete post

<input type="submit" value="Delete" />
}
<input type="button" value="Cancel" />