@model BlogClassLibrary.Post
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <p>
        Enter Headline<br/>
        @Html.TextArea("Header", Model.Header)
    </p>
    <p>
        Enter content<br />
        @Html.TextArea("Content", Model.Content)
    </p>
    <p>
        Enter Date<br />
        @Html.TextArea("DateTime", Model.DateTime)
    </p>
    <p>
        Enter Postimage<br />
        @Html.TextArea("Postimage", Model.Postimage)
    </p>

    <input type="submit" value="Save"/>
}

