@model BlogClassLibrary.Post

@{
    ViewBag.Title = Model.Blog.Name + " | " + Model.Header ;
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h2>@Model.Header</h2>
<p>@Model.Content</p>
<p>Comments:</p>
@foreach (var comment in Model.Comments)
{
    <p>@comment.Content</p>
}

