@model IEnumerable<BlogClassLibrary.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Blogs</h2>




@foreach (var item in Model)
{
    <div class="BlogLinkContainer">

        <h3>
        @Html.DisplayFor(modelItem => item.Name) @Html.ActionLink("Yeti", "Blog", "Selected", new { id = 0 }, null)
        </h3>




    </div>
}


