@model IEnumerable<BlogClassLibrary.Blog>

@{
    ViewBag.Title = "Index";
}
<link href="~/Styles/ViewStyles/HomeViewStyle.css" rel="stylesheet" />
<div class="container">
    <div class="row">

        <div class="col-md-9 mainContent">
            <div class="container">
                <div class="row">
                  @Html.Action("CarousellPosts")
                    @foreach (var item in Model)
                    {
                        <div class="col-md-3 AvailableBlogsContainer">

                            <h3 class="h3AvailableBlogsHeaderLink">
                                @*@Html.ActionLink(item.Name, "Index", "Post", new {id = item.Name}, null)*@
                                @Html.ActionLink(item.Name, "Index", "Blog", new {BlogId = item.Id}, null)

                            </h3>

                            <p class="ParagraphAvailableBlogsDescription">@Html.DisplayFor(modelItem => item.Description)</p>




                        </div>
                       
                    }
                </div>
            </div>

                </div>
        <div class="col-md-3 sidebarContent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 sidebarContentPlaceholder">
                        <h5>Top-Ten hashtags</h5>
                        @foreach (var blog in Model)
                        {

                            foreach (var post in blog.Posts)
                            {
                                @Html.Partial("_HashTags",post.Hashtags)
                            }


                        }

                        

                    </div>
                    <div class="col-md-12 sidebarContentPlaceholder">
                        <h5>Links</h5>
                    </div>
                    <div class="col-md-12 sidebarContentPlaceholder">
                        <h5>Placeholder</h5>
                    </div>
                </div>
             </div>

        </div>



   </div>
</div>
