<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Styles/LayoutStyle.css" rel="stylesheet" />
</head>
<body>
<div class="wrapper">
    <div class="mainContent">
        <div class="header">
            <div class="headerContent">
                <h1>"Rubrik"</h1>
            </div>
            <nav class="navigation">
                <ul class="navigationUl">
                    <li class="navigationLi">
                        Home
                    </li>
                    <li class="navigationLi">
                        About
                    </li>
                    <li class="navigationLi">
                        Login
                    </li>
                    <li class="navigationLi">
                        Register
                    </li>
                </ul>

            </nav>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr/>
            </div>
        </div>

</div>

    
        <footer>
            <p>&copy; @DateTime.Now.Year - Blogging with RAJ</p>
        </footer>
    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>