* {
    margin: 0;
}

div.logoDiv {
    
    
    color: white;
}

div.headerDiv {
    background-color: yellow;
}

img.logoImg {
    width: 100%;
}

.mainHeader {
    height: auto;
    background-color: goldenrod;
}

.headerTitle {
    width: 100%;
    float: left;
}

.navigation {
    margin-right: 5%;
    float: right;
}

     
.BlogLinkContainer {
    width: 20%;
    height: 200px;
    margin-right: 5%;
    margin-bottom: 25px;
    float: left;
    background-color: lightgrey;
    
}

.BlogLinkContent {
    background-color: whitesmoke;
}